.card {
    background-color: white;
    padding: 10px;
    min-width: 300px;
    border-radius: 5px;
    flex-grow: 1;
}

.card .wrapper1 {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.card .wrapper2 {
    display: flex;
    justify-content: center;
}

.card .card-value {
    font-size: 2rem;
    font-weight: bold;
}